In [1]:
import pandas as pd

In [2]:
final_df=pd.read_csv("mh_pincodes.csv")

In [3]:
final_df.dtypes

Unnamed: 0          int64
Name               object
Description       float64
BranchType         object
DeliveryStatus     object
Circle             object
District           object
Division           object
Region             object
Block              object
State              object
Country            object
Pincode             int64
dtype: object

In [4]:
# Deleting unnecessary column from the dataframe
final_df = final_df.drop('Unnamed: 0', axis=1)

In [5]:
andaman_df = pd.read_csv("andaman_nicobar_pincodes.csv", header=None)

In [6]:
andaman_df.sample(5)

,0,1,2,3,4,5,6,7,8,9,10,11
12,Minnie Bay,NaN,Sub Post Office,Non-Delivery,West Bengal,South Andaman,A - N Islands,Calcutta HQ,Portblair,Andaman & Nicobar,India,744103
40,Laxmipur,NaN,Branch Post Office,Delivery,West Bengal,North And Middle Andaman,A - N Islands,Calcutta HQ,Diglipur,Andaman & Nicobar,India,744202
38,Kalighat,NaN,Branch Post Office,Delivery,West Bengal,North And Middle Andaman,A - N Islands,Calcutta HQ,Diglipur,Andaman & Nicobar,India,744202
0,Marine Jetty,NaN,Sub Post Office,Non-Delivery,West Bengal,South Andaman,A - N Islands,Calcutta HQ,Portblair,Andaman & Nicobar,India,744101
68,Shoalbay,NaN,Branch Post Office,Delivery,West Bengal,South Andaman,A - N Islands,Calcutta HQ,Ferrargunj,Andaman & Nicobar,India,744206

In [7]:
andaman_df.columns = final_df.columns

In [8]:
andaman_df.sample(5)

,Name,Description,BranchType,DeliveryStatus,Circle,District,Division,Region,Block,State,Country,Pincode
57,Parnasala,NaN,Branch Post Office,Delivery,West Bengal,North And Middle Andaman,A - N Islands,Calcutta HQ,Rangat,Andaman & Nicobar,India,744205
46,Swarajgram,NaN,Branch Post Office,Delivery,West Bengal,North And Middle Andaman,A - N Islands,Calcutta HQ,Diglipur,Andaman & Nicobar,India,744202
85,Lapathy,NaN,Branch Post Office,Delivery,West Bengal,Nicobar,A - N Islands,Calcutta HQ,Carnicobar,Andaman & Nicobar,India,744301
41,Navagram,NaN,Branch Post Office,Delivery,West Bengal,North And Middle Andaman,A - N Islands,Calcutta HQ,Diglipur,Andaman & Nicobar,India,744202
82,Strait Island,NaN,Branch Post Office,Delivery,West Bengal,South Andaman,A - N Islands,Calcutta HQ,Port Blair,Andaman & Nicobar,India,744211

In [9]:
andaman_df.info

<bound method DataFrame.info of              Name  Description          BranchType DeliveryStatus  \
0    Marine Jetty          NaN     Sub Post Office   Non-Delivery
1    N.S.Building          NaN     Sub Post Office   Non-Delivery
2      Port Blair          NaN    Head Post Office       Delivery
3         Chatham          NaN     Sub Post Office   Non-Delivery
4       Delanipur          NaN     Sub Post Office   Non-Delivery
..            ...          ...                 ...            ...
97        Teressa          NaN  Branch Post Office       Delivery
98        Trinket          NaN  Branch Post Office       Delivery
99        Kapanga          NaN     Sub Post Office       Delivery
100       Mildera          NaN  Branch Post Office       Delivery
101     Nehrugram          NaN  Branch Post Office       Delivery

          Circle       District       Division       Region       Block  \
0    West Bengal  South Andaman  A - N Islands  Calcutta HQ   Portblair
1    West Bengal  South Andaman  A - N Islands  Calcutta HQ   Portblair
2    West Bengal  South Andaman  A - N Islands  Calcutta HQ  Port Blair
3    West Bengal  South Andaman  A - N Islands  Calcutta HQ   Portblair
4    West Bengal  South Andaman  A - N Islands  Calcutta HQ   Portblair
..           ...            ...            ...          ...         ...
97   West Bengal        Nicobar  A - N Islands  Calcutta HQ  Carnicobar
98   West Bengal        Nicobar  A - N Islands  Calcutta HQ   Nancowrie
99   West Bengal        Nicobar  A - N Islands  Calcutta HQ   Nancowrie
100  West Bengal        Nicobar  A - N Islands  Calcutta HQ   Nancowrie
101  West Bengal        Nicobar  A - N Islands  Calcutta HQ   Nancowrie

                 State Country  Pincode
0    Andaman & Nicobar   India   744101
1    Andaman & Nicobar   India   744101
2    Andaman & Nicobar   India   744101
3    Andaman & Nicobar   India   744102
4    Andaman & Nicobar   India   744102
..                 ...     ...      ...
97   Andaman & Nicobar   India   744303
98   Andaman & Nicobar   India   744303
99   Andaman & Nicobar   India   744304
100  Andaman & Nicobar   India   744304
101  Andaman & Nicobar   India   744304

[102 rows x 12 columns]>

In [10]:
# expected rows post merge
final_df.shape[0] + andaman_df.shape[0]

12981

In [11]:
final_df = pd.concat([final_df, andaman_df], ignore_index=True)

In [12]:
# Validation for merge operation
final_df.shape[0]

12981

In [13]:
# Realizing that the above set of operations will have to be done for all the other files, so decided to write a function instead.
def merge_df(final_df, state_df):
    state_df.columns = final_df.columns
    print(f"Number of rows post in final_df: {final_df.shape[0]}")
    print(f"Number of expected rows post merge operation: {final_df.shape[0] + state_df.shape[0]}")
    merged_df = pd.concat([final_df, state_df], ignore_index=True)
    print(f"Actual number of rows post merge operation: {merged_df.shape[0]}")

    return merged_df

In [14]:
# Importing the csv files manually as there was some cleaning that needed to be done for a few files and parameteres for them were not same.

In [15]:
# Cleaned and fixed header issue for punjab, pondicherry, odisha, nagaland, mizoram.
# These files somehow had an additional index in it, so I removed that using cleaning_files.ipynb

In [16]:
andhrapradesh_df = pd.read_csv("andhrap_pincodes.csv", header=None)

In [33]:
final_df = merge_df(final_df, andhrapradesh_df)

Number of rows post in final_df: 12981
Number of expected rows post merge operation: 23328
Actual number of rows post merge operation: 23328

In [35]:
arunachal_df = pd.read_csv("arunachal_pincodes.csv", header=None)

In [37]:
final_df = merge_df(final_df, arunachal_df)

Number of rows post in final_df: 23328
Number of expected rows post merge operation: 23718
Actual number of rows post merge operation: 23718

In [39]:
assam_df = pd.read_csv("assam_pincodes.csv", header=None)

In [41]:
final_df = merge_df(final_df, assam_df)

Number of rows post in final_df: 23718
Number of expected rows post merge operation: 27737
Actual number of rows post merge operation: 27737

In [43]:
bihar_df = pd.read_csv("bihar_pincodes.csv", header=None)

In [45]:
final_df = merge_df(final_df, bihar_df)

Number of rows post in final_df: 27737
Number of expected rows post merge operation: 39897
Actual number of rows post merge operation: 39897

In [47]:
chandigarh_df = pd.read_csv("chandigarh_pincodes.csv", header=None)

In [49]:
final_df = merge_df(final_df, chandigarh_df)

Number of rows post in final_df: 39897
Number of expected rows post merge operation: 39968
Actual number of rows post merge operation: 39968

In [54]:
chattisgarh_df = pd.read_csv("chattisgarh_pincodes.csv", header=None)

In [56]:
final_df = merge_df(final_df, chattisgarh_df)

Number of rows post in final_df: 39968
Number of expected rows post merge operation: 43118
Actual number of rows post merge operation: 43118

In [60]:
dadranagar_df = pd.read_csv("dadranagar_pincodes.csv", header=None)

In [62]:
final_df = merge_df(final_df, dadranagar_df)

Number of rows post in final_df: 43118
Number of expected rows post merge operation: 43168
Actual number of rows post merge operation: 43168

In [64]:
damandiu_df = pd.read_csv("damandiu_pincodes.csv", header=None)

In [66]:
final_df = merge_df(final_df, damandiu_df)

Number of rows post in final_df: 43168
Number of expected rows post merge operation: 43188
Actual number of rows post merge operation: 43188

In [68]:
delhi_df = pd.read_csv("delhi_pincodes.csv", header=None)

In [70]:
final_df = merge_df(final_df, delhi_df)

Number of rows post in final_df: 43188
Number of expected rows post merge operation: 43733
Actual number of rows post merge operation: 43733

In [72]:
goa_df = pd.read_csv("goa_pincodes.csv", header=None)

In [74]:
final_df = merge_df(final_df, goa_df)

Number of rows post in final_df: 43733
Number of expected rows post merge operation: 43980
Actual number of rows post merge operation: 43980

In [76]:
gujrat_df = pd.read_csv("gujrat_pincodes.csv", header=None)

In [78]:
final_df = merge_df(final_df, gujrat_df)

Number of rows post in final_df: 43980
Number of expected rows post merge operation: 52976
Actual number of rows post merge operation: 52976

In [80]:
haryana_df = pd.read_csv("haryana_pincodes.csv", header=None)

In [82]:
final_df = merge_df(final_df, haryana_df)

Number of rows post in final_df: 52976
Number of expected rows post merge operation: 55665
Actual number of rows post merge operation: 55665

In [84]:
himachal_df = pd.read_csv("himachal_pincodes.csv", header=None)

In [86]:
final_df = merge_df(final_df, himachal_df)

Number of rows post in final_df: 55665
Number of expected rows post merge operation: 58446
Actual number of rows post merge operation: 58446

In [88]:
jammukashmir_df = pd.read_csv("jammukashmir_pincodes.csv", header=None)

In [90]:
final_df = merge_df(final_df, jammukashmir_df)

Number of rows post in final_df: 58446
Number of expected rows post merge operation: 60130
Actual number of rows post merge operation: 60130

In [92]:
jharkhand_df = pd.read_csv("jharkhand_pincodes.csv", header=None)

In [94]:
final_df = merge_df(final_df, jharkhand_df)

Number of rows post in final_df: 60130
Number of expected rows post merge operation: 64198
Actual number of rows post merge operation: 64198

In [96]:
karnataka_df = pd.read_csv("karnataka_pincodes.csv", header=None)

In [98]:
final_df = merge_df(final_df, karnataka_df)

Number of rows post in final_df: 64198
Number of expected rows post merge operation: 73884
Actual number of rows post merge operation: 73884

In [100]:
kerela_df = pd.read_csv("kerela_pincodes.csv", header=None)

In [102]:
final_df = merge_df(final_df, kerela_df)

Number of rows post in final_df: 73884
Number of expected rows post merge operation: 78955
Actual number of rows post merge operation: 78955

In [104]:
lakshwadeep_df = pd.read_csv("lakshwadeep_pincodes.csv", header=None)

In [106]:
final_df = merge_df(final_df, lakshwadeep_df)

Number of rows post in final_df: 78955
Number of expected rows post merge operation: 78965
Actual number of rows post merge operation: 78965

In [130]:
Manipur_df = pd.read_csv("Manipur_pincodes.csv", header=None)

In [136]:
Manipur_df = Manipur_df.drop(0, axis=1)

In [138]:
Manipur_df.shape[1]

12

In [140]:
final_df.shape[1]

12

In [142]:
final_df = merge_df(final_df, Manipur_df)

Number of rows post in final_df: 78965
Number of expected rows post merge operation: 79664
Actual number of rows post merge operation: 79664

In [144]:
meghalaya_df = pd.read_csv("meghalaya_pincodes.csv", header=None)

In [148]:
meghalaya_df = meghalaya_df.drop(0, axis=1)

In [150]:
meghalaya_df.columns

Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype='int64')

In [152]:
final_df = merge_df(final_df, meghalaya_df)

Number of rows post in final_df: 79664
Number of expected rows post merge operation: 83141
Actual number of rows post merge operation: 83141

In [154]:
Mizoram_df = pd.read_csv("Mizoram_pincodes.csv") # The file has header present

In [156]:
final_df = merge_df(final_df, Mizoram_df)

Number of rows post in final_df: 83141
Number of expected rows post merge operation: 83839
Actual number of rows post merge operation: 83839

In [158]:
mp_df = pd.read_csv("mp_pincodes.csv", header=None)

In [160]:
final_df = merge_df(final_df, mp_df)

Number of rows post in final_df: 83839
Number of expected rows post merge operation: 92147
Actual number of rows post merge operation: 92147

In [162]:
Nagaland_df = pd.read_csv("Nagaland_pincodes.csv") # The file has header present

In [164]:
final_df = merge_df(final_df, Nagaland_df)

Number of rows post in final_df: 92147
Number of expected rows post merge operation: 92478
Actual number of rows post merge operation: 92478

In [166]:
odisha_df = pd.read_csv("odisha_pincodes.csv") # The file has header present

In [168]:
final_df = merge_df(final_df, odisha_df)

Number of rows post in final_df: 92478
Number of expected rows post merge operation: 100644
Actual number of rows post merge operation: 100644

In [170]:
pondicherry_df = pd.read_csv("pondicherry_pincodes.csv") # The file has header present

In [172]:
final_df = merge_df(final_df, pondicherry_df)

Number of rows post in final_df: 100644
Number of expected rows post merge operation: 102178
Actual number of rows post merge operation: 102178

In [174]:
punjab_df = pd.read_csv("punjab_pincodes.csv") # The file has heder present

In [176]:
final_df = merge_df(final_df, punjab_df)

Number of rows post in final_df: 102178
Number of expected rows post merge operation: 106054
Actual number of rows post merge operation: 106054

In [178]:
rajasthan_df = pd.read_csv("rajasthan_pincodes.csv", header=None)

In [180]:
final_df = merge_df(final_df, rajasthan_df)

Number of rows post in final_df: 106054
Number of expected rows post merge operation: 116388
Actual number of rows post merge operation: 116388

In [182]:
sikkim_df = pd.read_csv("sikkim_pincodes.csv", header=None)

In [184]:
final_df = merge_df(final_df, sikkim_df)

Number of rows post in final_df: 116388
Number of expected rows post merge operation: 116709
Actual number of rows post merge operation: 116709

In [186]:
tamilnadu_df = pd.read_csv("tamilnadu_pincodes.csv", header=None)

In [188]:
final_df = merge_df(final_df, tamilnadu_df)

Number of rows post in final_df: 116709
Number of expected rows post merge operation: 128675
Actual number of rows post merge operation: 128675

In [190]:
telangana_df = pd.read_csv("telangana_pincodes.csv", header=None)

In [192]:
final_df = merge_df(final_df, telangana_df)

Number of rows post in final_df: 128675
Number of expected rows post merge operation: 134511
Actual number of rows post merge operation: 134511

In [194]:
tripura_df = pd.read_csv("tripura_pincodes.csv", header=None)

In [196]:
final_df = merge_df(final_df, tripura_df)

Number of rows post in final_df: 134511
Number of expected rows post merge operation: 135219
Actual number of rows post merge operation: 135219

In [198]:
up_df = pd.read_csv("up_pincodes.csv", header=None)

In [200]:
final_df = merge_df(final_df, up_df)

Number of rows post in final_df: 135219
Number of expected rows post merge operation: 155619
Actual number of rows post merge operation: 155619

In [202]:
uttarakhand_df = pd.read_csv("uttarakhand_pincodes.csv", header=None)

In [204]:
final_df = merge_df(final_df, uttarakhand_df)

Number of rows post in final_df: 155619
Number of expected rows post merge operation: 160762
Actual number of rows post merge operation: 160762

In [206]:
wb_df = pd.read_csv("wb_pincodes.csv", header=None)

In [208]:
final_df = merge_df(final_df, wb_df)

Number of rows post in final_df: 160762
Number of expected rows post merge operation: 169745
Actual number of rows post merge operation: 169745

In [210]:
final_df.to_csv("all_india_pincodes.csv", index=False)

In [212]:
final_df.shape[0]

169745

In [216]:
final_df['Description'].isnull().sum()

169742

In [218]:
duplicate_mask = final_df.duplicated()

In [220]:
duplicate_mask.sum()

12271

In [226]:
duplicates_df = final_df[duplicate_mask]

In [228]:
duplicates_df

,Name,Description,BranchType,DeliveryStatus,Circle,District,Division,Region,Block,State,Country,Pincode
12992,Donkarayi,NaN,Sub Post Office,Delivery,Andhra Pradesh,East Godavari,Khammam,Vijayawada,Donkarayi,Andhra Pradesh,India,507130
12993,Forebey Dam Camp,NaN,Branch Post Office,Delivery,Andhra Pradesh,East Godavari,Khammam,Vijayawada,Donkarayi,Andhra Pradesh,India,507130
12994,Mangampadu,NaN,Branch Post Office,Delivery,Andhra Pradesh,East Godavari,Khammam,Vijayawada,Donkarayi,Andhra Pradesh,India,507130
12995,Anantapur,NaN,Head Post Office,Delivery,Andhra Pradesh,Ananthapur,Anantapur,Kurnool,Anantapur,Andhra Pradesh,India,515001
12996,Anantapur Collectorate,NaN,Sub Post Office,Non-Delivery,Andhra Pradesh,Ananthapur,Anantapur,Kurnool,Anantapur,Andhra Pradesh,India,515001
...,...,...,...,...,...,...,...,...,...,...,...,...
167504,Ralang,NaN,Branch Post Office,Delivery,West Bengal,South Sikkim,Sikkim,North Bengal And Sikkim,Ravangla,Sikkim,India,737139
167505,Ravangla,NaN,Sub Post Office,Delivery,West Bengal,South Sikkim,Sikkim,North Bengal And Sikkim,Ravangla,Sikkim,India,737139
167506,Sangmoo,NaN,Branch Post Office,Delivery,West Bengal,South Sikkim,Sikkim,North Bengal And Sikkim,Ravangla,Sikkim,India,737139
167507,Tingmoo,NaN,Branch Post Office,Delivery,West Bengal,South Sikkim,Sikkim,North Bengal And Sikkim,Ravangla,Sikkim,India,737139
167508,Tinkitam,NaN,Branch Post Office,Delivery,West Bengal,South Sikkim,Sikkim,North Bengal And Sikkim,Ravangla,Sikkim,India,737139

In [230]:
final_df = final_df.drop_duplicates(keep='first')

In [236]:
final_df.to_csv("India_pincodes.csv", index=False)